.MuiTableCell-body {
  color: #e1e5f1 !important;
}

.MuiTableCell-head {
  color: #e1e5f1 !important;
  font-weight: 400 !important;
  line-height: 1.5rem;
  background-color: #191a1d !important;
}

.MuiTableCell-root {
  padding: 2px !important;
}

.MuiTableCell-alignRight {
  text-align: center !important;
}

.MuiTableCell-stickyHeader {
  cursor: pointer;
}

svg:not(:root).svg-inline--fa {
  color: #0aae84 !important;
  width: 25px;
}

svg:not(:hover).svg-inline--fa {
  color: #e1e5f1 !important;
  width: 20px;
}
