.MuiTypography-colorTextSecondary {
  color: #e1e5f1 !important;
}

.MuiPaper-outlined {
  border: 1px solid red !important;
}

.MuiTypography-overline {
  font-size: 11px !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
  letter-spacing: 0 !important;
  text-transform: uppercase;
}
