.Modal {
    position: fixed;
    z-index: 2500;
    background-color: #710808;
    color: #E1E5F1;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 15px;
    left: 25%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

g g g text {
    fill: #9d9f99!important;
    font-size: 12px;
}

@media (max-width: 600px) {
    .SizeStyle {
        font-size: 11px!important;
    }
}

@media (max-width: 600px) {
    g g g text {
    font-size: 10px;
    }
}

@media (max-width: 600px) {
    .Modal {
        top: 10%;
        font-size: 9px;
        width: 70%;
        left: 15%;  
    }
}

.Button-style {
    font-size: 10px!important;   
    min-width: 100px!important;
    margin-bottom: 10px!important;
}

.Box-style {
    display: block;
    background-color: #811616;
    color: white;
    font-size: 12px!important;
}
 
@media (max-width: 600px) {
    .Button-style {
        padding: 0!important;
    }
}

@media (max-width: 600px) {
    .Box-style {
        font-size: 10px!important;
    }
}
